{% extends "collins/user/__base.html" %}

{% block page_title %}Login{% endblock %}

{% block bodyclasses %}dashboard{% endblock %}

{% block content %}
	{% if blogs.count > 0 %}
		<div id="activeBlog">
			<header>
				<h1>{{ current_blog.name }}</h1>
			</header>	
			<nav class="newPostBar">
				{% if current_blog.permitted_post_types.count == 1 %}
					{% with current_blog.permitted_post_types.all.0 as post_type %}
						<a class="solitary" href="{% url create_post blog_slug=current_blog.slug post_type=post_type.model %}">New {{ post_type.name }}</a>
					{% endwith %}
				{% else %}
				New:
				<ul>
					{% for post_type in current_blog.permitted_post_types.all %}
					<li><a href="{% url create_post blog_slug=current_blog.slug post_type=post_type.model %}">{{ post_type.name }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
			</nav>
			<div class="postList">
				{% if current_blog.get_posts.count != 0 %}
					{% for post in current_blog.get_posts %}
						{{ post.as_html }}
					{% endfor %}
				{% else %}
					<p class="message">This blog has no posts yet!</p>
				{% endif %}
			</div>
		</div>
		
		<div id="yourBlogs" class="blogList">
			<ul class="blogSelector">
				{% for blog in blogs %}
					<li{% if blog.pk == current_blog.pk %} class="active"{% endif %}>
						{% if blog.pk != current_blog.pk %}
						<a href="{% url manage_blog_posts blog_slug=blog.slug %}">{{ blog.name }}</a>
						{% else %}
						<b>{{ current_blog.name }}</b>
						{% endif %}
						<a class="settingsLink" href="{% url edit_blog blog_slug=blog.slug %}">(settings)</a>
					</li>
				{% endfor %}
			</ul>	
			<a href="{% url create_blog %}"><span class="plus">+</span> New Blog</a>
		</div>
	{% else %}
		<div id="activeBlog">
			<p class="message">You have no blogs yet! Why not <a href="{% url create_blog %}">create one</a>?</p>
		</div>
		<div id="yourBlogs" class="blogList">
			<a href="{% url create_blog %}"><span class="plus">+</span> New Blog</a>
		</div>
	{% endif %}
{% endblock %}