@import 
		"compass/reset",
		"compass/css3/box-shadow",
		"compass/css3/border-radius",
		"compass/css3/text-shadow",
		"compass/css3/transition",
		"compass/css3/gradient",
		"compass/utilities/general/clearfix",
		"layouts";

@include reset-html5;

$font-family: Helvetica, Arial, sans-serif;
$heading-font: "Expletus Sans", $font-family;
$sitebackground: #C75407;
$background-accent: #FFFA6F;