#content{
	@include clearfix;
}
#activeBlog{
	@extend .left-75;
	border-right:1px solid rgba(0,0,0,.05);
}
#yourBlogs{
	@extend .right-25;
	border-left:1px solid rgba(255,255,255, .5);
}

#activeBlog > header > h1{
	font-size:40px;
	line-height:40px;
	font-family: $heading-font;
	text-shadow:0 1px 0 #FFF;
}

.newPostBar{
	background:#CCC;
	@include border-radius(15px);
	line-height:30px;
	padding:0 10px;
	margin:20px 0 20px 0;
	@include box-shadow(rgba(0,0,0,.15), 0, 1px, 2px, 0, inset);
	ul, li{
		display:inline;
	}
	a{
		margin-left:5px;
		display:inline-block;
		background:#FFF;
		color:#666;
		line-height:20px;
		border-radius:10px;
		padding:0 10px;
		&:hover{
			background:#222;
			color:#FFF;
		}
	}
}