$selectionbg: adjust_hue(saturate($sitebackground, 100%), 60deg);
$selectionfore: adjust_hue(saturate($sitebackground, 100%), 60deg);

::selection{
	background:$selectionbg;
	color:$selectionfore;
}
::-moz-selection{
	background:$selectionbg;
	color:$selectionfore;
}

a{
	text-decoration:none;
	color:$selectionbg;
}

b{
	font-weight:normal;
}
i{
	font-style:normal;
}