/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 
		"http://fonts.googleapis.com/css?family=Expletus+Sans",
		"base",
		"generalities",
		"userActions",
		"dashboard",
		"layouts";
		
html{
	background: $sitebackground;
	height: 100%;
}

body{
	$inside: $sitebackground/2 + $background-accent/2 + #222;
	$outside: $sitebackground;
	font-family: $font-family;
	font-size: 15px;
	background: $sitebackground;
	@include radial-gradient(color-stops($inside, $outside 850px));
	background-attachment:fixed;
	padding: 40px;
	min-height: 100%;
}

#siteHead{
	font-family: $heading-font;
	color: #222;
	font-size: 60px;
	text-shadow: 0 1px 0 rgba(255,255,255,.35);
	text-align: left;
	a{
		color:inherit;
		line-height:40px;
		padding: 10px 10px 0 7px;
		margin: -10px -10px 0 0;
		@include border-radius(5px);
		&:hover{
			color:$accent;
			text-shadow: 0 1px 0 rgba(0,0,0,.15);
			background: rgba(0,0,0,.25);
		}
	}
}
#container{
	width: $pagewidth;
	margin: 0 auto;
	position: relative;
}
#content{
	$radius: 5px;
	@include border-radius($radius);
	padding: $contentpaddingv $contentpaddingh;
	margin: 20px 0;
	@include box-shadow(rgba(0,0,0,.15), 0, 0, 20px, 0, false);
	@include linear-gradient(color-stops(#DDD, #FFF 40px));
	border: 1px solid #FFF;
	border-bottom-color:#CCC;
}