<!DOCTYPE html>

<html>
	<head>
		<title>{{ blog.name }}</title>
	</head>
	<body>
		<header>
			<h1>{{ blog.name }}</h1>
		</header>
		
		{% for post in blog.posts %}
		<article>
			{% if post.title %}
				<header>
					<h1>{{ post.title }}</h1>
				</header>
				<section>
				</section>
				<footer>
					{{ post.published|date }} | <a href="{{ post.permalink }}">permalink</a>
				</footer>
			{% endif %}
		</article>
		{% endfor %}
		
		<footer>
			<p>Powered by <a href="http://github.com/lapilofu/django-collins">django-collins</a>.</p>
		</footer>
	</body>
</html>